@model SaveMW.Models.SortLinkModel

<a href="@Url.Action(Model.ActionName, Model.ControllerName, Model.RouteValues)">
    @Model.LinkText
    @if (Model.SortDirection.HasValue)
    {
        if (Model.SortDirection.Value == System.Web.UI.WebControls.SortDirection.Ascending)
        {
            <img src="~/Content/Pic/sort-up.png">
        }
        else
        {
            <img src="~/Content/Pic/sort-down.png" />
        }
    }
</a>

